<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">	
		<script src="https://code.jquery.com/jquery-3.1.1.min.js">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<style>
			.entry:not(:first-of-type)
			{
				margin-top: 10px;
			}
			.glyphicon
			{
				font-size: 12px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<h1>Lab Events Table</h1>
			</div>
			<div class="row">
				<label class="control-label" for="ourField"></label>
					<form role="form" id ="myForm" class="form-inline">
     					<div id="myRepeatingFields">
         					<div class="entry inline-form col-xs-12">
               				 	<label for="Profession">Column Name : </label>
						        <select name="fields" class="form-control">
						        	<option value="Column 1">Column 1</option>
						            <option value="Column 2">Column 2</option>
						            <option value="Column 3">Column 3</option>
						            <option value="Column 4">Column 4</option>
						            <option value="Column 5">Column 5</option>
						        </select>
						        <label for="Profession">Logical Operation : </label>
                				<select name="fields2" class="form-control">
						        	<option value="=">Equal</option>
						            <option value=">=">Greater than Or Equal To</option>
						            <option value="<=">Less Than Or Equal To</option>
						        </select>						        
						        <label for="Profession">Value : </label>
                				<input class="form-control" name="fields3" type="text" placeholder="Placeholder" />
						        <label for="Profession">Logical Operation : </label>
                				<select name="fields4[]" class="form-control">
						        	<option value=" ">No Value</option>
						            <option value="And">And</option>
						            <option value="Or">Or</option>
						        </select>  
                				<button type="button" class="btn btn-success btn-lg btn-add">
                    				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                				</button>
           					</div>
      					</div> 
                		<button type="button" class="btn btn-success btn-lg btn-show">Submit</button>
 					</form>
				<br>
				<small>Press <span class="glyphicon glyphicon-plus gs"></span> for another field</small>
			</div>
		</div>
		<script>
			$(function()
			{
				
				$(document).on('click', '.btn-add', function(e)
				{
					e.preventDefault();
					var controlForm = $('#myRepeatingFields:first'),
						currentEntry = $(this).parents('.entry:first'),
						newEntry = $(currentEntry.clone()).appendTo(controlForm);
					newEntry.find('input').val('');
					controlForm.find('.entry:not(:last) .btn-add')
						.removeClass('btn-add').addClass('btn-remove')
						.removeClass('btn-success').addClass('btn-danger')
						.html('<span class="glyphicon glyphicon-minus"></span>');
				}).on('click', '.btn-remove', function(e)
				{
					e.preventDefault();
					$(this).parents('.entry:first').remove();
					return false;
				});
				$(document).on('click', '.btn-show', function()
				{
					var x = document.getElementById("myForm").elements.length;
					document.getElementById("demo").innerHTML = "Found " + x + " elements in the form.";
					var i;
					var z;
					var arr = [];
					var text = "";
					for (i = 0; i < x-1; i++) { 
						z = document.getElementById("myForm").elements[i].value;
						arr[i] = document.getElementById("myForm").elements[i].value;
						text += z + "<br>";
					}
					var search_word ="NEGATIVE";
				    var qurl="/";
				    var js_data = JSON.stringify(arr);	
					$.ajax({
								url: '/',
								data: js_data,
								type: 'POST',
								dataType : 'json',
								contentType: 'application/json',
								success: function(response) {
									document.getElementById("demo1").innerHTML = arr;
								},
								error: function(error) {
									console.log(error);
								}
							}).done(function(data) { 
								console.log(data)
								console.log(data.valueNum)
								console.log(data[0]["Value"])
								var tbl=$("<table/>").attr("id","mytable");
    							$("#div1").append(tbl);
    							for(var i=0;i<data.length;i++)
							    {
							        var tr="<tr>";
							        var td1="<td>"+data[i]["Value"]+"</td>";
							        var td2="<td>"+data[i]["valueNum"]+"</td>";

							       $("#mytable").append(tr+td1+td2); 

							    } 
      						});
      						event.preventDefault();
					console.log(arr);			
				});
				
			});
		</script>
		<p id="demo"></p>
		<p id="demo1"></p>
		<div id="div1"> </div>
	</body>
</html>
